body,
button,
input {
  font-size: 16pt;
  color: white;
  font-family: "Comic Sans MS", "Comic Sans", "Verdana";
}
body {
  font-size: 16pt;
  color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #275399,
    #007fc3,
    #00abdd,
    #00d6e4,
    #00ffdd
  );
}

.red {
  color: #ed7258;
}

.players {
  margin-top: 80px;
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
}

button.add {
  color: black;
  background-color: #44ee88;
}
button.add:active {
  color: white;
  background-color: #24ce68;
}
button.subtract {
  color: black;
  background-color: #ed7258;
}
button.subtract:active {
  color: white;
  background-color: #cd5238;
}
.score-controls {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 8px;
  gap: 4px;
}
.score-controls button {
  border-radius: 8px;
}
.player {
  min-height: 140px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #325080;
  border-radius: 16px;
  border: 4px solid cyan;
}

.player.buzzed {
  background-color: #50cc80;
  border: 4px solid lime;
}

.button-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

/* .button-container button { */
/*   width: calc(min(40vw, 40vh)); */
/*   height: calc(min(40vw, 40vh)); */
/*   border-radius: 100%; */
/*   border: 0; */
/* } */
.button-container button {
  border: 0;
  width: 200px;
  height: 180px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: #f74d4d;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f74d4d),
    color-stop(100%, #f86569)
  );
  background-image: -moz-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f74d4d),
    color-stop(100%, #f86569)
  );
  box-shadow: 0 15px #e24f4f;
}
.button-container button:active {
  box-shadow: 0 0 #e24f4f;
  -webkit-transform: translate(0px, 15px);
  -moz-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  -o-transform: translate(0px, 15px);
  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container button {
  color: black;
  border-radius: 12px;
  padding: 20px;
  min-width: 200px;
}

.container input {
  border: 2px solid black;
  border-radius: 12px;
  padding: 20px;
  color: black;
}

.footer-link {
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 10px;
}

.footer-link input {
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 6px;
}

.footer-link button {
  color: black;
  border-radius: 12px;
  min-width: 90px;
  padding: 6px;
}
.footer-link button:active {
  color: black;
  background-color: gray;
}

#signature {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#signature a {
  text-decoration: none;
}
#signature a:hover {
  text-decoration: underline;
}

#signature svg {
  width: 36px;
  height: 36px;
  margin-top: -4px;
  vertical-align: middle;
}
